<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SpaceX PS</title>
<meta name="description" content="App to view all the projects done by SpaceX">
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="print" onload="this.media='all'">
<link rel="stylesheet" href="/css/style.css" media="print" onload="this.media='all'">